.about {
    --main-color: #2461E5;
  padding: 2rem;
  text-align: right;
  direction: rtl;
  font-family: 'Rubik', sans-serif;
  position: relative;
    color: #555;
}
.about__socials a {
  font-family: 'Assitant', serif;
}


.about__line {
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
}

.about__content {
  margin-bottom: 3rem;
}

.about__headline {
  font-size: 7rem;
   color: var(--main-color);
  margin-bottom: 1rem;

}

.about__subtext {
  font-size: 2.5rem;
  /* color: #666666; */
  margin-bottom: 1rem;

}

.about__mail {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  /* font-family: 'Alegreya', serif; */
  font-family: 'Assitant', sans-serif;
    font-size: 1.4rem;
}

.about__mail a {
  text-decoration: underline;
  /* text-decoration-color: #f52ba0;  */
  text-decoration-color: var(--main-color);
  /* color: #666666; */
}

.about__arrow {
position: relative;
top: 2px;
  width: 29px;
  height: auto;
    /* color: #666666; */
}

.about__socials {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  direction: ltr;
  justify-content: flex-start;      /* ודא שזה נשאר */
  align-items: flex-start;
  flex-wrap: wrap;
  padding-bottom: 1rem;
  max-width: 100%;
}

.about__socials span {
  margin-left: 1rem;
    /* color: #666666; */
}

.about__socials a {
  text-decoration: none;
  /* border-bottom: 2px solid #f52ba0; */
    border-bottom: 2px solid var(--main-color);
  /* color: #666666; */
  font-size: 1rem;
    font-family: 'Assitant', sans-serif;
}

/* Responsive */
@media (max-width: 600px) {
  .about{
    padding: 1rem;
  }
  .about__headline {
    font-size: 2rem;
  }

  .about__subtext {
    font-size: 1.2rem;
  }

  .about__mail {
    font-size: 1rem;
  }
  .about__socials {
    font-size: 0.8rem;
    gap: 1.2rem;
  }

  .about__socials a{
    font-size: 0.8rem;
    border-bottom: 1px solid var(--main-color);
  }

}
@media (max-width: 345px) {

  .about__socials {
    font-size: 0.7rem;
    gap: 1rem;
  }

  .about__socials a{
    font-size: 0.7rem;
    border-bottom: 1px solid var(--main-color);
  }

}
.footer-love {
  text-align: center;
  font-size: 0.85rem;
  /* margin-top: 10px; */
  /* margin-bottom: 8px; */
  color: #555;
  font-family: 'Assitant', sans-serif;
}

.footer-love .heart {
  color: #E5249E; /* or black, blue, etc. */
}

.tooltip {
  position: relative;
  cursor: pointer;
  font-weight: 500;
}
.tooltiptext {
  visibility: hidden;
  opacity: 0;
  width: max-content;
  background-color: #ffe6f2;   /* soft pink */
  color: #333;
  text-align: center;
  border-radius: 8px;          /* softer rounded corners */
  padding: 6px 10px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* above the text */
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.3s;
  font-size: 0.75rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* cute soft shadow */
  direction: ltr;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}