.masonry-wrap {
    position: relative;
    height: 90vh;
    top: 2vh;
    width: 100%;
}
@media (max-width: 1500px) {
.masonry-wrap {
    height: 128vh;
}
}
@media (max-width: 1200px) {
.masonry-wrap {
    height: 130vh;
}
}

@media (max-width: 1000px) {
.masonry-wrap {
    height:168vh;
}
}

@media (max-width: 600px) {
.masonry-wrap {
    height: 250vh;
}
}
@media (max-width: 400px) {
.masonry-wrap {
    height: 500vh;
}
}


.section-header {
  text-align: center;
  font-size: 3rem;
  color: var(--main-color);
  

}
