@import "tailwindcss";
@font-face {
  font-family: 'Rubik';
  src: url('./assets/fonts/Rubik/Rubik-Black.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'Rubik-regular';
  src: url('./assets/fonts/Rubik/Rubik-Medium.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'Alegreya';
  src: url('./assets/fonts/Alegreya.ttf') format('truetype');
  font-style: normal;
  
}

/* Chrome, Edge, Safari */
body::-webkit-scrollbar {
  display: none;
}

html, body, #root {
  width: 100%;
    height: auto;
  margin: 0;
  padding: 0;
  background-color: #F4E7D5;
  overflow-x: hidden; /* Allow vertical scroll but hide horizontal */
   overflow: auto;
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;
  font-family: 'Rubik', sans-serif;
  
}

 .arrow {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 50;
  width: 40px;
  height: 40px;
}

@media (max-width: 768px) {
  .landing-container {
    transform: scale(0.7);
  }
}

@media (max-width: 480px) {
  .landing-container {
    transform: scale(0.5);
  }
}
.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
}
.scroll-arrow {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  width: 40px;
  height: 40px;
  z-index: 1000;
}

/* אנימציית ניעור */
@keyframes bounce {
  0%, 100% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(-10px);
  }
}

.bounce {
  animation: bounce 1.5s infinite;
}

.section-header {
  text-align: center;
  font-size: 3rem;
  color: var(--main-color);
  

}

