
.card {
   width: 18vw;
   height: 40vh;
  border-radius: 2rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  padding: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease;
  margin: 1rem;
  
}
.card__icon-img {
  width: 8rem !important;   /* force override */
  height: 8rem !important;
  max-width: none !important;
  max-height: none !important;
  object-fit: contain;
  display: block;
}

.card:hover {
  transform: scale(1.05) rotate(0deg); /* optional hover effect */
}

.card__image-area {
  background-color: #fff8f2;
  flex: 1;
  border-radius: 1.5rem;
  margin-bottom: 1rem;
}

.card__subject {
  font-size: 2rem;
  text-align: center;
  direction: rtl;
}


/* Small screens */
@media (max-width: 1500px) {
  .card {
    width: 20vw;
    height: 38vh;
    padding: 1rem;
  }  
    .card__subject {
    font-size: 1.4rem;
  }
}
@media (max-width: 1280px) {
  .card {
    height: 32vh;
  }
}
@media (max-width: 1150px) {
  .card {
    height: 30vh;
  }

  .card__subject {
    font-size: 1.3rem;
  }
}
@media (max-width: 990px) {
  .card {
    width: 24vw;
    height: 32vh;
  }

  .card__subject {
    font-size: 1.2rem;
  }
}
@media (max-width: 828px) {
  .card {
    height: 30vh;
  }
}
@media (max-width: 768px){
    .card {
    height: 28vh;
    padding: 0.8rem;
  }
  .card__icon-img {
  width: 6rem !important; 
  height: 6rem !important;
}
}
@media (max-width: 600px) {
  .card {
    width: 33vw;
    height: 20vh;
  }

  .card__subject {
    font-size: 1.2rem;
  }
    .card__icon-img {
  width: 4rem !important; 
  height: 4rem !important;
}
}





