.gallery-container {
  position: relative;
  height: 800px; /* גובה מוגדל */
  width: 100%; /* רוחב מלא */
  max-width: 1800px; /* גבול רוחב מקסימלי */
  overflow: hidden;
  margin: 0 auto;
}

.gallery-gradient {
  position: absolute;
  top: 0;
  height: 100%;
  width: 48px;
  z-index: 10;
}

.gallery-gradient-left {
  left: 0;
  /* background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, #060010 100%); */
}

.gallery-gradient-right {
  right: 0;
  /* background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, #060010 100%); */
}

.gallery-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.gallery-track {
  display: flex;
  height: auto;
  min-height: 200px;
  justify-content: center;
  align-items: center;
  cursor: grab;
  transform-style: preserve-3d;
  width: 100%;
}

.gallery-item {
  position: absolute;
  display: flex;
  height: fit-content;
  align-items: center;
  justify-content: center;
  padding: 4%;
  backface-visibility: hidden;
}

.gallery-img {
  pointer-events: none;
  height: 250px;
  width: 100%;
  border-radius: 15px;
  border: 3px solid #fff;
  object-fit: cover;
  transition: 0.3s ease;
}

.gallery-item:hover .gallery-img {
  transform: scale(1.05);
  transition: 0.3s ease;
}

@media (max-width: 1224px) {
  .gallery-container {
    height: 700px;
  }
  
  .gallery-item {
    padding: 6%;
  }
  
  .gallery-img {
    height: 180px;
    width: 360px;
  }
}
@media (max-width: 1400px) {
  .gallery-container {
    height: 600px;
  }
  
  .gallery-item {
    padding: 5%;
  }
  
  .gallery-img {
    height: 180px;
    width: 360px;
  }
}
@media (max-width: 1100px) {
  .gallery-container {
    height: 600px;
  }
  
  .gallery-item {
    padding: 6%;
  }
  
  .gallery-img {
    height: 160px;
    width: 300px;
  }
}

@media (max-width: 968px) {
  .gallery-container {
    height: 600px;
  }

  .gallery-item {
    padding: 8%;
  }

  .gallery-img {
    height: 180px;
    width: 360px;
  }
}
@media (max-width: 700px) {

  .gallery-item {
    padding: 6%;
  }

}
.gallery-header {
  text-align: center;
  font-size: 3rem;
  color: #2461E5;
  /* margin-bottom: 2rem; */
}
